body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #db72b7;
    color: white;
}

button {
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: lightgreen;
    border-radius: 10px;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}
